services:
  app-dev:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gc-next-db-dev
    ports:
      - "${NEXT_PORT:-3000}:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/gc_react_db?schema=public
    env_file:
      - .env.development
    depends_on:
      - db
    stdin_open: true
    tty: true
    restart: unless-stopped

  db:
    image: postgres:latest
    container_name: gc-next-db
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=gc_react_db
    restart: unless-stopped

volumes:
  postgres_data:

